version: '3.7'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - ../:/home/app/:rw
    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: constructions
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"
